<!DOCTYPE html >
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>express</title>
    <style>
    </style>
  </head>
  <body>
    <h1>エラー: 無効な数値です</h1>
    <h2>トップページにリダイレクトします.....</h2>
    <script>
      setTimeout(() => {
        window.location.href = "http://localhost:3000";
      }, 2000);
    </script>
  </body>
</html>