<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express</title>
    <style>
      .fruit {
        width: 50px;
        border-radius: 10%;
        margin: 0 10px 0 20px;
      }
    </style>
  </head>
  <body>
    <form action="/" method="POST">
      <p>りんご: 100円 <input class="fruit" type="number" name="appleCount" value="<%= appleCount %>">個</p>
      <p>バナナ: 200円 <input class="fruit" type="number" name="bananaCount" value="<%= bananaCount %>">個</p>
      <p>オレンジ: 150円 <input class="fruit" type="number" name="orangeCount" value="<%= orangeCount %>">個</p>
      <input type="submit" value="カートに入れる">
    </form>
  </body>
</html>
